.hobbiessection{
    background-color: rgb(169, 255, 195);
    height: 220px; 
}
body{
    background-color:rgb(238, 238, 235);
    margin-top: 0px;
}
h1{
    text-align: center;
    margin-top: 0px;
    padding-top: 60px;
    font-size: 100px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}