.profilepic {
    width: 150px;
    margin-left: 670px;
    border-radius: 100px;
    box-shadow: 0px 0px 4px;
    display: inline-block;
}
.profilepicsec{
    background-color: rgb(169, 255, 195);
    height: 270px; 
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color:rgb(238, 238, 235);
    margin-top: 0px;
}
.name{
    text-align: center;
}
.contactinfo{
    text-align: center;
}